@model DevWeb_Trab_Final.Models.Dispositivos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dispositivos</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @* o parâmetro 'enctype' é fundamental para o formulário enviar ficheiros*@
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataReg" class="control-label"></label>
                <input asp-for="DataReg" class="form-control" />
                <span asp-validation-for="DataReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteFK" class="control-label"></label>
                <select asp-for="ClienteFK" class ="form-control" asp-items="ViewBag.ClienteFK"></select>
            </div>

            @* recolher a imagem do dispositivo *@
            <div class="form-group">
                <label class="control-label">Fotografia</label>
                <input class="form-control"
                       type="file"
                       accept=".jpg,.jpeg,.png"
                       name="imagemDispositivo" />
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" formaction="/Funcionarios/Administrador" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
