@model DevWeb_Trab_Final.Models.Reparacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Reparação</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustoAux" class="control-label"></label>
                <input asp-for="CustoAux" class="form-control" />
                <span asp-validation-for="CustoAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DispositivoFK" class="control-label"></label>
                <select asp-for="DispositivoFK" class="form-control" asp-items="ViewBag.DispositivoFK"></select>
                <span asp-validation-for="DispositivoFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionariosFK" class="control-label"></label>
                <select asp-for="FuncionariosFK" class="form-control" asp-items="ViewBag.FuncionariosFK"></select>
                <span asp-validation-for="FuncionariosFK" class="text-danger"></span>
            </div>
            <br><h5>Para concluir a reparação insira a data de fim de reparação</h5>
            <div class="form-group">
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input  type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Funcionarios" asp-action="Administrador">Voltar á lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
