@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>

@section Scripts {
    <script>
        var timeoutMilliseconds = 3000; // 3000 milliseconds = 3 seconds

        setTimeout(function () {
            window.location.href = '@Url.Page("/Home/Index")';
        }, timeoutMilliseconds);
    </script>
}
