@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar Email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
@section Scripts {
    <script>
        var timeout = 3000; // 3000 milisegundos = 3 segundos

        setTimeout(function () {
            window.location.href = '@Url.Page("/Home/Index")';
        }, timeout);
    </script>
}
