@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
@section Scripts {
    <script>
        var timeoutMilliseconds = 5000; // 5000 milisegundos = 5 segundos

        setTimeout(function () {
            window.location.href = '@Url.Page("/Home/Index")';
        }, timeoutMilliseconds);
    </script>
}
