@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar Registo";
}

<style>
    p {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
</style>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique Aqui para Confirmar o seu Email!</a>
    </p>
    }
    else
    {
<p>
        Por favor cheque o seu Email para confirmar a sua Conta.
</p>
    }
}

