@model IEnumerable<DevWeb_Trab_Final.Models.Funcionarios>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    

    .custom-container {
        width: 1200px;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .custom-column {
        padding-right: 0;
        padding-left: 0;
    }

    .corpo {
        display: table;
    }

    .introd {
        font-family: 'Montserrat', sans-serif;
        font-weight:500 bold 600;
    }

    .corpo h1 {
            font-family: 'Roboto Condensed', sans-serif;
    }

    .home-txt {
        padding-top: 20px;
    }

    .introd {
        font-family: 'Montserrat', sans-serif, bold;
    }

</style>

<div class="container custom-container">
    <div class="row">
        <div class="col custom-column">
            <div class="corpo">
                <h1 class="text-dark">Serviço de Reparação de Electrodomésticos</h1>
            </div><br />
           
            <div class="home-txt">
                <p class="introd">
                    Bem-vindo ao nosso site, a sua referência confiável para reparação de eletrodomésticos! Somos uma loja especializada em resolver problemas nos seus aparelhos domésticos. Contamos com uma equipa de técnicos altamente qualificados e experientes, prontos para ajudar em todas as situações.
                </p>
                <p class="introd" >Os nossos técnicos são especialistas nas suas áreas, com habilidades únicas e conhecimentos especializados em diversos tipos de eletrodomésticos. Independentemente do problema com a sua máquina de lavar roupa, frigorífico, fogão, máquina de lavar louça, micro-ondas ou outro aparelho, oferecemos soluções eficientes e de qualidade.</p>
                <p class="introd">Entendemos a importância da confiança ao escolher uma loja de reparação de eletrodomésticos, por isso dedicamo-nos a oferecer um serviço excecional aos nossos clientes. O nosso objetivo é superar as suas expectativas, oferecendo reparações rápidas, eficientes e acessíveis, com um atendimento amigável e personalizado.</p>

            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingClientes">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">Prestamos serviços relacionados a ...</button>
                    </h2>
                    <div id="collapseClientes" class="accordion-collapse collapse show" aria-labelledby="headingClientes" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                @foreach (var especializacao in Model.Select(f => f.Especializacao).Distinct())
                                {
                                    <li>@especializacao</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col custom-column1"><br /><br />
            <img src="~/imagens/reparatech.png" alt="..." class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
