@{
    ViewData["Title"] = "Home Page";
}

<div class="container custom-container">
    <div class="row">
        <div class="col custom-column">
            
                <div class="corpo">
                    <h1 class="text-dark"> Serviço de Reparação de Electrodomésticos</h1>
                </div>
        </div>
        <div class="col custom-column1">
            <img src="~/imagens/reparatech.png" alt="..." class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>

<style>
    .custom-container {
        width: 1200px;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .custom-column {

        padding-right: 0;
        padding-left: 0;
    }
    .custom-column{

        padding-right: 0;
        padding-left: 0;
    }

    .corpo {
        display: table;
    }

        .corpo p {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }


</style>