@model IEnumerable<DevWeb_Trab_Final.Models.Funcionarios>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-container {
        width: 1200px;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .custom-column {
        padding-right: 0;
        padding-left: 0;
    }

    .custom-column {
        padding-right: 0;
        padding-left: 0;
    }

    .corpo {
        display: table;
    }

    .corpo p {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
    }

</style>

<div class="container custom-container">
    <div class="row">
        <div class="col custom-column">
            <div class="corpo">
                <h1 class="text-dark"> Serviço de Reparação de Electrodomésticos</h1>
            </div><br /><br />
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingClientes">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClientes" aria-expanded="true" aria-controls="collapseClientes">Prestamos serviços relacionados a ...</button>
                    </h2>
                    <div id="collapseClientes" class="accordion-collapse collapse show" aria-labelledby="headingClientes" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                @foreach (var especializacao in Model.Select(f => f.Especializacao).Distinct())
                                {
                                    <li>@especializacao</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col custom-column1">
            <img src="~/imagens/reparatech.png" alt="..." class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
